@model IEnumerable<Url>

<h2>Список URL</h2>
<table class="table">
    <tr><th>Оригинальный URL</th><th>Дата создания</th><th>Короткий URL</th><th>Переходов по ссылке</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Original">
                    @item.Original
                </a>
            </td>
            <td>@item.CreatedAt</td>
            <td>
                <a asp-controller="ShortUrls" asp-action="RedirectTo" asp-route-path="@item.Token">
                    @ViewData["Path"]/@item.Token
                </a>
            </td>
            <td>@item.Clicks</td>
        </tr>
    }
</table>