@model IEnumerable<Url>

<table class="table table-striped mt-5">
    <tr>
        <th scope="col">Оригинальный URL</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Короткий URL</th>
        <th scope="col">Переходов по ссылке</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Original">
                    @item.Original
                </a>
            </td>
            <td>@item.CreatedAt</td>
            <td>
                <a asp-controller="ShortUrls" asp-action="RedirectTo" asp-route-path="@item.Token">
                    @ViewData["Path"]/@item.Token
                </a>
            </td>
            <td><center>@item.Clicks</center></td>
        </tr>
    }
</table>
